.container {
  background-color: white;
  max-width: 400px;
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;

  :hover { 
    opacity: 0.6;
  }
}

.image {
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 200px;
  overflow: hidden;
}

.desc {
  text-align: center;
  margin: 5px;
}