@import '../colors.module.scss';
@import '../global.module.scss';

.index {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.index__main {
  flex: 1;
  background-color: $main-color;
}

.index__header {
  height: 50px;
}

.index__footer {
  height: 50px;
}
